name: CI Pipeline

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  archetype:
    # Configura el entorno de ejecución (Ubuntu 22.04) [cite: 98, 119]
    runs-on: ubuntu-22.04
    
    # Define los outputs que generará este job [cite: 101]
    outputs:
      group: ${{ steps.extract-maven-coords.outputs.group }}
      artifact: ${{ steps.extract-maven-coords.outputs.artifact }}
      version: ${{ steps.extract-maven-coords.outputs.version }}

    steps:
      - name: Checkout del repositorio
        # Usa la acción para descargar el código [cite: 144, 145]
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        # Configura el entorno Java 21 [cite: 119, 146, 147, 148]
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Verificar la existencia de pom.xml
        # Verifica que el archivo de configuración de Maven exista [cite: 120]
        id: check-pom
        run: |
          if [ -f pom.xml ]; then
            echo "pom.xml found"
          else
            echo "Error: pom.xml not found."
            exit 1
          fi
          
      - name: Extraer coordenadas Maven (groupId, artifactId, version)
        # Usa el comando proporcionado en el Cookbook para extraer las coordenadas [cite: 121, 165, 166, 167, 168, 169]
        id: extract-maven-coords
        run: |
          GROUP=$(mvn help:evaluate -Dexpression=project.groupId -q -DforceStdout)
          ARTIFACT=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        

          echo "group=${GROUP}" >> $GITHUB_OUTPUT
          echo "artifact=${ARTIFACT}" >> $GITHUB_OUTPUT
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Compilar y Ejecutar Pruebas con Maven
        run: mvn clean install
